<footer class="footer text-orange pt-4 pb-4">
  <div class="container rounded-3 p-4">
    <div class="row">
      <div class="col-lg-3">
        <p class="fs-1 poppin">STORE</p>
        <p class="font-rubik">We provide the best e-commerce for you,<br />for the connected world.</p>
      </div>
      <div class="col-lg-2">
        <p class="ubuntu fs-4">Explore</p>
        <p class="font-rubik">Home</p>
        <p class="font-rubik">Products</p>
        <p class="font-rubik">Discover</p>
        <p class="font-rubik">About</p>
        <p class="font-rubik">Customer Care</p>
      </div>
      <div class="col-lg-3">
        <p class="ubuntu fs-4">Visit</p>
        <p class="font-rubik">Sumatera Utara, Indonesia</p>
        <p class="font-rubik">Medan</p>
        <br />
        <p class="ubuntu fs-4">Business</p>
        <p class="font-rubik">yourEmail@email.com</p>
      </div>
      <div class="col-lg-2">
        <p class="ubuntu fs-4">Follow</p>
        <p class="font-rubik"><i class="fa-brands fa-instagram"></i> yourStoreIG</p>
        <p class="font-rubik"><i class="fa-brands fa-twitter"></i> yourStore_Twitter</p>
        <p class="font-rubik"><i class="fa-brands fa-facebook"></i> yourStore-fb</p>
        <p class="font-rubik"><i class="fa-brands fa-whatsapp"></i> yourStore-number</p>
      </div>
      <div class="col-lg-2">
        <p class="ubuntu fs-4">Legal</p>
        <p class="font-rubik">Terms</p>
        <p class="font-rubik">Privacy</p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-12">
        <p class="poppin text-orange">&copy; 2022 mySTORE, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
