<nav class="navbar_section">
  <div class="container">
    <div class="navbar-menu d-flex justify-content-between">
      <ul class="roboto">
        <li><a href="">STORE</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Discover</a></li>
        <li><a href="">About</a></li>
      </ul>
      <div class="text-light">
        <span>Burger</span>
      </div>
    </div>
  </div>
</nav>
