<section>
  <div class="container">
    <div class="row" style="height: 80vh">
      <div class="col-12 d-flex align-items-end justify-content-center">
        <div>
          <a
            class="github-button"
            href="https://github.com/gsnipedev/store-app/archive/HEAD.zip"
            data-icon="octicon-download"
            data-size="large"
            aria-label="Download gsnipedev/store-app on GitHub"
            >Download</a
          >
          <a
            class="github-button"
            href="https://github.com/gsnipedev/store-app"
            data-color-scheme="no-preference: light; light: light; dark: light;"
            data-icon="octicon-star"
            data-size="large"
            aria-label="Star gsnipedev/store-app on GitHub"
            >Star</a
          >
          <a
            class="github-button"
            href="https://github.com/gsnipedev"
            data-color-scheme="no-preference: light; light: light; dark: light;"
            data-size="large"
            aria-label="Follow @gsnipedev on GitHub"
            >Follow @gsnipedev</a
          >

          <a
            class="github-button"
            href="https://github.com/gsnipedev/store-app/subscription"
            data-color-scheme="no-preference: light; light: light; dark: light;"
            data-icon="octicon-eye"
            data-size="large"
            aria-label="Watch gsnipedev/store-app on GitHub"
            >Watch</a
          >

          <a
            class="github-button"
            href="https://github.com/gsnipedev/store-app/discussions"
            data-icon="octicon-comment-discussion"
            data-size="large"
            aria-label="Discuss gsnipedev/store-app on GitHub"
            >Discuss</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
