<section>
  <div class="container">
    <div class="row" " style="height: 80vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div>
          <span class="text-orange" style="font-size:100px">About.</span>
        </div>
      </div>
    </div>
  </div>
</section>
