<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 shadow p-3 ubuntu">
        <form action="/bank-form" method="GET">
          <div class="mb-2">
            <textarea name="addr1" id="" class="form-control" rows="5" placeholder="Address"></textarea>
          </div>
          <div>
            <textarea
              name="addr2"
              id=""
              class="form-control"
              rows="5"
              placeholder="More detailed information about Address above"
            ></textarea>
          </div>
          <input type="hidden" name="item_id" value="<%=item_id%>" />
          <button type="submit" class="btn btn-primary">Primary</button>
        </form>
      </div>
    </div>
  </div>
</section>

<h1><%= item_id %></h1>
