<section
  style="
    background-image: url(https://www.oberlo.com/media/1603954479-toa-heftiba-0wajhfk7q9o-unsplash.jpg);
    backdrop-filter: contrast(40%);
  "
>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh">
      <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 p-2 text-light">
        <div class="p-3 rounded-3 bg-orange shadow">
          <div class="text-center">
            <div class="mt-5 mb-2 align-self-center poppin">
              <h3>Sign Up</h3>
              <hr />
            </div>
            <div class="align-self-center ubuntu">
              <span><%= locals.msg %></span>
              <br />
            </div>
          </div>

          <form method="POST" action="/register">
            <div class="mb-3 ubuntu">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" name="username" class="form-control shadow-none" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" min-length="5">Password</label>
              <input type="password" class="form-control shadow-none" name="password" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control shadow-none" name="password_confirm" />
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input shadow-none" id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="form-control btn btn-light poppin text-orange mb-2">Sign Up</button>
            <button type="button" class="form-control btn btn-light poppin text-orange" disabled>Google Sign-Up</button>
          </form>
          <hr />
          <div class="align-self-center text-light ubuntu">
            <p>
              Have an Existing Account? Sign In
              <a href="/login" style="text-decoration: underline" class="text-light poppin">Here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
